
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


  <a class="navbar-brand">Turing Inteligencia <br>Artificial</a>


  <a  class="navbar-brand">Mapa del Sitio</a>
  <ul class="nav navbar-nav" routerLinkActive="active">


    <li class="nav-item">
      <a class="nav-link" routerLink="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nosotros">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="servicios">Servicios</a>
    </li>
  </ul>
</nav>
