  <header id="BannerTamaño">

    <section class="container">
      <div>
        <a class="navbar-brand fuente"><strong>TURING-IA</strong></a>
      </div>

      <nav class="menu_opciones nav navbar-nav">
        <ul routerLinkActive="active">

          <li class="nav-item">
            <a class="nav-link" routerLink="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicios">Servicios</a>
          </li>

        </ul>

      </nav>

    </section>

  </header>

<!-- <nav  class="saludos navbar navbar-expand">
  <div class="menu">
    <a class="navbar-brand"><strong>Turing-IA</strong></a>
  </div>

  <ul class="menu_opciones nav navbar-nav" routerLinkActive="active">

    <li class="nav-item">
      <a class="nav-link" routerLink="inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nosotros">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="servicios">Servicios</a>
    </li>

  </ul>

</nav> -->
