
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand">
      <img src="https://media-exp1.licdn.com/dms/image/C560BAQGR4gbrSWX6hQ/company-logo_200_200/0/1632149947606?e=1668643200&v=beta&t=xRxAvv0vNqUhFgla4FmenenoJfLA7fcs6wk49d8LlPs" alt="logo" style="width:100px;">
    </a>

    <a class="navbar-brand">Menu</a>
    <ul class="nav navbar-nav" routerLinkActive="active">

      <li class="nav-item">
        <a class="nav-link" routerLink="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="servicios">Servicios</a>
      </li>
    </ul>
  </nav>

