<section>
  <div class="container-fluid text-center espacio_top">
         <div class="row justify-content-center align-items-center">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="embed-responsive embed-responsive-16by9 video-position">
                <iframe width="20%" height="20%" src="https://www.youtube.com/embed/NNaLax4T-oM"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>

      <div class="row justify-content-center align-items-center espacio_top">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="row">
                  <div class="col-12 sss">
                      <p class="text-justify">
                        ¿QUIENES SOMOS?
                        Turing-IA, tu mejor opción
                        Somos una empresa Consultora de Big Data en México, desde hace 13 años
                        proporcionamos servicios en Business Analytics mediante Knowledge Discovery in Database (KDD).
                         Somos un grupo de especialistas en proyectos de Business Analytics con más de 13 años
                        de experiencia. realizando análisis descriptivos, predictivos y prescriptivos.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="row py-3 justify-content-center">
                  <div class="col-4 linea">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

